<h3>Disliked Movie App</h3>


<ul>
    <li class="odd">Marvel Movie</li>
    <li class="even">Some Boring Movie</li>
    <li class="odd">Scooby Dooby</li>
    <li class="even">French Soup</li>
    <li class="odd">This Water Tastes Funny</li>
</ul>