<h1>Favoride Movie App</h1>

<ul>
    <li class="odd">The Big Lebowski</li>
    <li class="even">Fear and Loathing in Las Vegas</li>
    <li class="odd">Dumbo</li>
    <li class="even">Melancholia</li>
    <li class="odd">Zoolander</li>
</ul>